<h1>Insert a new Product</h1>
<%= render "form", product: @product %>

<div class="return row mt-3">
  <%= link_to root_path do %>
    <p><i class="fa-solid fa-rotate-left "></i>Back to Homepage</p>
  <% end %>
</div>
